.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 1rem;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .activee {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

/* Apply the animation when the link is clicked (active class) */
.activee::after {
  transform: scaleX(1);
  transform-origin: left;
}


.navbar li {
  cursor: pointer;
}

/* .navbar-search-icon {
  position: relative;
  z-index: 1;
  background-color: aqua;
  width: auto;
  height: auto;
}

.navbar-search-icon .dot {
  z-index: 999;
  position: absolute;
  max-width: 10px;
  min-height: 10px;
  background: tomato;
  border-radius: 5px;
  top: -8px; 
   right: -8px;
} */

.navbar-search-icon {
  position: relative;
  z-index: 1;
  background-color: aqua;
  width: 30px;
  /* Ensure there is enough space for visibility */
  height: 30px;
  /* Ensure there is enough space for visibility */
}

.navbar-search-icon .dot {
  z-index: 999;
  position: absolute;
  width: 10px;
  height: 10px;
  /* Use height instead of min-height for consistency */
  background: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
  border: 1px solid black;
  /* Added border for visibility */
}